@media (min-width: 1500px) {
  .section-container{
    width: 1300px !important;
    margin: auto;
  }

  .process-curve-back {
  position: absolute;
  z-index: -1;
  width: 1300px;
  top: 290px;
  left: 50%;
  transform: translateX(-50%);
}

.product-header-banner p{
  width: 1200px;
}
.blog-header-banner p{
  width: 1200px;
}
.privacy-header-banner p{
  width: 1200px;
}

}





@media (max-width: 1200px) {

  /* why choose */

.choose{
  padding: 20px 0;
}
.choose h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.choose p{
  width: 80%;
}
.choose-card {
  padding: 20px;
  width: 24%;
}
.choose-card i {
  font-size: 2.5rem;
}
.choose-card h3 {
  font-size: 16px;
  height: 70px;
}



/* offer */

.offer h2{
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.offer p{
  width: 80%;
  margin-bottom: 20px;
}
.offer-image{
  width: 70%;
  margin: auto;
}

.offer-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offer-all-card{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.offer-card{
  width: 49%;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
}
.offer-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
.offer-card-left{
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offer-card-left i{
  font-size: 30px;
}
.offer-card-right{
  margin-left: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.offer-btn{
  font-size: 18px;
  font-weight: 500;
  padding: 10px 40px;
  border-radius: 50px;
  transition: 0.3s;
  margin-top: 20px;
  box-shadow: 0px 4px 10px -2px #676767;
}




.process{
  padding: 20px 0;
  padding-bottom: 60px;
}
.process h2{
  font-size: 24px;
  font-weight: 600;
}
.process h4{
  font-size: 20px;
  font-weight: 500;
}
.process-all-card{
  margin-bottom: 30px;
  margin-top: 100px;
}
.process-card {
  width: 130px;
  height: 130px;
}
.process-card i {
  font-size: 2rem;
}
.process-card h3 {
  font-size: 16px;
  font-weight: 600;
  width: 60%;
}

.process-curve-back{
width: 80%;
top: 250px;
left: 100px;
}
.process-step{
  top: -25px;
  left: 30px;
  font-size: 30px;
}








/* blog page */
.blog-catg{
  gap: 10px;
  flex-wrap: wrap;
}

/* blog detail page */
.blog-about p{
  width: 350px;
}



/* about page */
.vision h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.vision p{
  width: 75%;
}
.vision-card h2{
  font-size: 24px;
  text-align: unset;
}
.vision-card p{
  width: 100%;
  text-align: unset;
}

.team h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.team p{
  width: 75%;
}





/* enwuiry page */

.enquiry-form h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.enquiry-form p{
  width: 85%;
}





}











@media (max-width: 1000px) {
    /* # Hero Section */

.hero {
  padding-top: 100px;
  padding-bottom: 20px;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.hero .hero-content h1 {
  font-size: 1.8rem;
  text-align: center;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 0rem;
}
.hero .hero-content p {
  text-align: center;
}
.hero-btn{
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
}

.hero .hero-image img {
  max-width: 50%;
}








/* why choose */

.choose{
  padding: 20px 0;
}
.choose h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.choose p{
  width: 90%;
}
.choose-card {
  padding: 10px;
  width: 49%;
  margin-bottom: 20px;
}
.choose-card i {
  font-size: 3rem;
}
.choose-card h3 {
  font-size: 16px;
  height: 50px;
}





/* offer */

.offer p{
  width: 90%;
}
.offer-image{
  width: 30%;
}
.offer-card{
  width: 49%;
  height: 50px;
  border-radius: 6px;
  margin-bottom: 14px;
}
.offer-card-left{
  width: 60px;
  height: 100%;
}
.offer-card-left i{
  font-size: 30px;
}
.offer-card-right{
  font-size: 18px;
}
.offer-btn{
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}












/* product page */


.product-header-banner {
  height: 300px;
}
.product-header-banner h1{
  margin-top: 80px;
  font-weight: 600;
  font-size: 40px;
}
.product-header-banner p{
  font-weight: 400;
  font-size: 18px;
  width: 80%;
  line-height: 24px;
}

.product-single {
  margin: 50px 0;
  padding: 0px;
}
.product-single h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-left{
  width: 59%;
}
.product-left ul{
  border-radius: 6px;
  padding-left: 30px;
  font-size: 14px;
}


.product-right{
  width: 39%;
}

.product-btn-all{
  margin-top: 20px;
  gap: 10px;
}
.product-started-btn{
  font-size: 16px;
  font-weight: 400;
  padding: 6px 30px;
}
.product-more-btn{
  font-size: 16px;
  padding: 6px 30px;
}

.product-divider{
  height: 1px;
}






/* blog page */


.blog-header-banner {
  height: 300px;
}
.blog-header-banner h1{
  margin-top: 80px;
  font-weight: 600;
  font-size: 40px;
}
.blog-header-banner p{
  font-weight: 400;
  font-size: 18px;
  width: 80%;
  line-height: 24px;
}







/* about page */

.about-right {
  margin-top: 20px;
}


.about-right-content-innerdiv {
  width: 49% !important;
  margin-top: 10px;
}

.vision p{
  width: 90%;
}
.vision-card h2{
  font-size: 22px;
}
.vision-card p{
  width: 100%;
}
.vision-card h5 {
  font-size: 16px;
}







/* about page */

.team p{
  width: 90%;
}







/* privacy page */
.privacy-header-banner {
  height: 300px;
}
.privacy-header-banner h1{
  margin-top: 80px;
  font-weight: 600;
  font-size: 40px;
}
.privacy-header-banner p{
  font-weight: 400;
  font-size: 18px;
  width: 80%;
  line-height: 24px;
}








/* enquiry page */

.enquiry-hero{
  padding-top: 120px;
}
.enquiry-hero-card-all {
  justify-content: center;
  width: 100%;
}
.enquiry-hero-card-text {
  font-size: 16px;
  font-weight: 500;
}
.enquiry-hero-card-all .divider{
  height: 80px;
  width: 1.4px;
  border-radius: 4px;
}





}







@media (max-width: 800px) {
  .process{
  padding-bottom: 30px;
}

.process-all-card{
  margin-bottom: 0px;
  margin-top: 40px;
  justify-content: left;
  gap: 40px;
}
.process-card {
  width: 120px;
  height: 120px;
}
.process-card i {
  font-size: 2rem;
}
.process-card h3 {
  font-size: 16px;
  font-weight: 600;
  width: 60%;
}

.process-curve-back{
display: none;
}
.process-step{
  top: -25px;
  left: 30px;
  font-size: 30px;
}
}









@media (max-width: 700px) {

  /* product page */

.product-header-banner h1{
  margin-top: 100px;
  font-weight: 500;
  font-size: 30px;
}
.product-header-banner p{
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  line-height: 20px;
}

.product-single {
  margin: 30px 0;
  padding: 0px;
}
.product-single h2{
  margin-bottom: 10px;
  text-align: center;
}
.product-single p{
  text-align: center;
}

.product-container{
  flex-direction: column !important;
}
.product-left{
  width: 100%;
}

.product-right{
  width: 50%;
  margin-top: 20px;
}
.product-btn-all{
  align-items: center;
  justify-content: center;
}






 /* blog page */

.blog-header-banner h1{
  margin-top: 100px;
  font-weight: 500;
  font-size: 30px;
}
.blog-header-banner p{
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  line-height: 20px;
}


/* blog detail page */
.blog-about p{
  width: 450px;
}




/* privacy page */
.privacy-header-banner h1{
  margin-top: 100px;
  font-weight: 500;
  font-size: 30px;
}
.privacy-header-banner p{
  font-weight: 300;
  font-size: 16px;
  width: 100%;
  line-height: 20px;
}




}









@media (max-width: 500px) {
  
  
  .header .btn-getstarted,
.header .btn-getstarted:focus {
  font-size: 14px;
  font-weight: 400;
  padding: 6px 10px;
  margin: 0 0 0 10px;
}
 .header .header-container {
   background: rgba(255, 255, 255, 0.3);
   border-radius: 10px;
   padding: 10px 10px;
   margin-top: 20px;
  }

  
  /* why choose */
  
  .choose{
  padding: 20px 0;
}
.choose h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.choose p{
  width: 100%;
}
.choose-card {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.choose-card h3 {
  font-size: 16px;
  height: 40px;
}





/* offer */

.offer p{
  width: 100%;
}
.offer-image{
  width: 30%;
}
.offer-card{
  width: 100%;
  height: 50px;
  border-radius: 6px;
  margin-bottom: 14px;
}
.offer-card-left{
  width: 60px;
  height: 100%;
}
.offer-card-left i{
  font-size: 30px;
}
.offer-card-right{
  font-size: 18px;
}
.offer-btn{
  font-size: 18px;
  font-weight: 400;
  padding: 8px 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}





/* blog page */

/* blog detail page */
.blog-about p{
  width: 100%;
  text-align: center;
}


.blog-about {
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.blog-post-card .blog-catg{
  justify-content: center;
  margin-left: 0px;
  margin-top: 0;
  margin-bottom: 10px;
}







/* about page */
.about-right-content {
  height: 49%;
  padding: 20px;
  gap: 6px;
}

.about-right-content-innerdiv {
  width: 100% !important;
  padding: 20px;
  margin-top: 0px;
}
.vision-container{
  flex-wrap: wrap;
}
.vision-card {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}



.form-section-img{
  display: none;
}





}






@media (max-width: 400px) {
  .product-started-btn{
  padding: 4px 20px;
}
.product-more-btn{
  padding: 4px 10px;
}
}